In [3]:
import tensorflow as tf 
import pandas as pd
import matplotlib.pyplot as plt 
import yfinance as yf

In [4]:
maker = yf.download("MKR-USD");

[*********************100%***********************]  1 of 1 completed

In [7]:
maker

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-20,252.481995,278.230988,252.401993,272.449005,272.449005,259174
2017-11-21,272.019989,288.925995,260.019012,279.920013,279.920013,9649
2017-11-22,280.277008,400.648987,280.050995,326.191986,326.191986,14577
2017-11-23,326.941986,359.498993,320.864990,347.436005,347.436005,1187
2017-11-24,345.696991,408.135010,339.252991,401.825012,401.825012,166167
...,...,...,...,...,...,...
2022-07-14,853.501099,896.888306,822.473755,891.121704,891.121704,133367290
2022-07-15,891.200562,936.070251,883.084290,912.608704,912.608704,122190091
2022-07-16,912.597656,971.796692,890.447144,960.008972,960.008972,117321959
2022-07-17,959.945923,965.648987,933.089905,933.089905,933.089905,140093338
2022-07-18,935.631836,1004.911804,935.631836,1004.911804,1004.911804,141785168

In [9]:
maker["Close"]

AttributeError: 'Series' object has no attribute 'to_Frame'